.banner {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    color: var(--branco);
    text-align: center ;
    font-family: 'Poppins';
    padding: 2.5em 2em;
}

.banner__titulo {
    font-weight: 700;
    font-size: 18px;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url(../Assets/Vector.svg) no-repeat;
    background-position: 1em;
}

@media screen and (min-width:1024px) {
    .banner__titulo {
        font-size: 36px;
    }
    .banner {
        padding: 5.2em;
    }
    .banner__pesquisa {
        width: 50%;
        padding: 1.5em;
    }
    .banner__pesquisa::placeholder {
        font-size: 16px;
    }

    .banner__texto {
        margin-bottom: 1.6em;
    }

}

@media screen and (min-width: 1728px) {
    .banner__titulo {
        font-size: 36px;
        font-weight: 700;
    }

    .banner__texto {
        font-size: 16px;
        font-weight: 500;
    }
    .banner__pesquisa {
        width: 37%;
    }
}