
.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0 0.5em 0;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Poppins';
}

.swiper-slide img {
    width: 100%;
}   

.card__descricao {
    display: flex;
    justify-content: space-between;
}

.card__botoes__icon {
    display: flex;
}
.card__botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em;
    font-family: 'Poppins';
}



.descricao__titulo {
    color: var(--laranja);
    font-weight: 700;
    font-size: 16px;
}

.descricao__titulo-livro {
    color: var(--azul);
    font-weight: 700;
    font-size: 18px;
    margin: 0.5em 0;
}

.descricao__texto {
    font-weight: 400;
    font-size: 14px;
}

.descricao__img {
    margin-bottom: 2.2em;
}

.card__botoes__link {
    background-color: var(--laranja);
    padding: 1em 2.3em;
    font-weight: 700;
    text-decoration: none;
    color: var(--branco);
}

.card__descricao__estrelinhas {
    margin: 0.6em 0;
}

.descricao__texto {
    margin-bottom: 2em;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 26px;
        padding: 2.5em 0 1.5em;
    }
    .swiper {
        width: 60%;
        margin: 4em 0 4em
    }
    
    .card {
        width: 50%;
        margin: 2em auto;
    }
    
}

@media screen and (min-width: 1728px) {
    .carrossel__titulo {
        font-size: 32px;
        padding: 2em 0 1.5em;
    }

    .swiper {
        width: 30%;
    }
    .carrossel__conteudo {
        display: flex;
        align-items: center;
        margin: 1em 10em;
    }

    .card {
        width: 35%;
        height: 50%;
    }
}