

.contato {
    background-color: var(--branco);
    font-family: 'Poppins';
    padding: 1.5em;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
    color: var(--azul-degrade);
}

.contato__texto {
    font-size: 16px;
    font-weight: 300;
    color: var(--azul-degrade);
    margin: 1em 0 1.5em;
}

.contato__input {
    border-radius: 24px;
    padding: 0.6em 1.5em;
    width: 90%;
    background-color: transparent;
    border: 1px solid  var(--azul   );
    color: var(--azul);
}

.contato__input::placeholder {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: var(--azul-degrade);
    background: url(../Assets/Email.svg) no-repeat;
    padding-left: 2em;
}

@media screen and (min-width: 1024px) {

    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3em 0 3em;
    }

    .contato__input {
        width: 30%;
        margin-left: 5em;
    }

    .contato__descricao {
        width: 30%;
        margin-right: 1em ;
    }
    
    .contato__titulo {
        font-size: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .contato__titulo {
        font-size: 24px;
    }
    .contato {
        padding: 3em 20vw;
    }
}