:root {
    --cor-de-fundo: #EBECEE;
    --branco:#FFFFFF;
    --laranja:#EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}   

.cabecalho__menu__hamburguer {
    width: 48px;
    height: 48px;
    background-image: url(../Assets/Menu\ \(1\).svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__img {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
    font-family: 'Poppins';
    font-size: 16px;
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    text-decoration: none;
    background: linear-gradient(--azul-degrade);
    -webkit-background-clip: text;       
    background-clip:text ;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__img__titulo {
    display: none;
}

.opcoes__botao:checked ~.opcoes__rotulo>.opcoes__link {
    background: var(--azul-degrade);
}

@media screen and (min-width: 1024px) {

    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    } 
    .cabecalho__menu__hamburguer {
        display: none;
    }
    .cabecalho__logo {
        margin-left: 5em;
    }

    .opcoes {
        display: flex;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
    }

    .opcoes__item {
        padding: 1em;
    }

    .opcoes__link {
        text-decoration: none;
        color: black;
    }

    .coracao {
        display: none;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao:checked ~ .categorias {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover {
        background-color: var(--azul-degrade);
        text-decoration: none
    }
    .lista-menu__link:hover {
        color: var(--branco);
        text-decoration: none;
    }

    .container__img__titulo {
        display: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__icones {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 20px;
        color: black;
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto ;
        margin-left: 3em;
    }

    .container__img__titulo {
        display: block;
    }
}