.topicos {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    ;
    font-family: 'Poppins';
}

.topicos__titulo {
    font-weight: 300;
    font-size: 16px;
    color: var(--branco);
    text-align: center;
    padding: 1.5em 0 0.5em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__link {
    background-color: var(--laranja);
    padding: 1em;
    color: var(--branco);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

.topicos__item {
    margin: 1.5em 0.5em;
}

.topicos__link:hover {
    color: var(--laranja);
    background-color: var(--branco);
    }

@media screen and (min-width: 1024px) {
    .topicos {
        padding: 2em;
    }
    .topicos__titulo {
        font-size: 24px;
    }

    .topicos__link {
        font-size: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        margin-bottom: 2em;
    }
    .topicos {
        padding: 3em 30vw;
    }
}